.item-details-container {
  .card-action {
    min-height: 70px;

    .price {
      margin: 0 10px;
      font-size: x-large;

      @media screen and (max-width: 600px) {
        font-size: large;
      }
    }
  }
}
